&usdhc0 {
	status = "okay";
	pinctrl-0 = <&pinmux_usdhc0>;
	pinctrl-1 = <&pinmux_usdhc0>;
	pinctrl-2 = <&pinmux_usdhc0>;
	pinctrl-names = "default", "slow", "med";
	no-1-8-v;
	pwr-gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>; // eMMC power enable pin
	//	pwr-gpios = <&gpio1 17 GPIO_ACTIVE_LOW>; // eMMC reset pin
	power-delay-ms = <200>;
	/* eMMC - embedded storage */
	emmc {
//				compatible = "zephyr,sdmmc-disk";
		compatible = "zephyr,mmc-disk";
		disk-name = "SD2";
		status = "okay";
	};
};


&pinctrl {

	pinmux_usdhc0: pinmux_usdhc0 {
		group0 {
			pinmux = <SDHC0_CMD_PIO2_5>,
					 <SDHC0_D0_PIO2_3>,
					 <SDHC0_D1_PIO2_2>,
					 <SDHC0_D2_PIO2_7>,
					 <SDHC0_D3_PIO2_6>,
					 <SDHC0_D4_PIO2_1>,
					 <SDHC0_D5_PIO2_0>,
					 <SDHC0_D6_PIO2_9>,
					 <SDHC0_D7_PIO2_8>;
			slew-rate = "fast";
			drive-strength = "low";
			bias-pull-up;
			input-enable;
		};

		group1 {
			pinmux = <SDHC0_CLK_PIO2_4>;
			slew-rate = "fast";
			drive-strength = "low";
			//			input-enable;
		};
	};
};


&flexcomm2 {
	status = "disabled";
};

&flexcomm2_lpi2c2 {
	status = "disabled";
};

&flexcomm2_lpuart2 {
	status = "disabled";
};

&flexspi {
	status = "disabled";
	w25q64jvssiq: w25q64jvssiq@0 {
		status = "disabled";
	};
};

&enet {
	status = "disabled";
};

&enet_mac {
	status = "disabled";
};

&enet_mdio {
	status = "disabled";
};

&flexpwm1_pwm0 {
	status = "disabled";
	//	pinctrl-0 = <&pinmux_flexpwm1_pwm0>;
	//	pinctrl-names = "default";
};
&flexpwm1_pwm1 {
	status = "disabled";
};
&flexpwm1_pwm2 {
	status = "disabled";
};

&flexcan0 {
	status = "disabled";
	//	pinctrl-0 = <&pinmux_flexcan0>;
	//	pinctrl-names = "default";
};


&lpcmp0 {
	status = "disabled";
};

&sc_timer {
	status = "disabled";
	//	pinctrl-0 = <&pinmux_sctimer>;
	//	pinctrl-names = "default";
};


&sai0 {
	status = "disabled";
};

&os_timer {
	status = "disabled";
};

/ {
	gpio_keys {
		compatible = "gpio-keys";

		user_button_2: button_0 {
			label = "User SW2";
			gpios = <&gpio0 23 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_0>;
			status = "disabled";
		};

		user_button_3: button_1 {
			label = "User SW3";
			gpios = <&gpio0 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_1>;
			status = "disabled";
		};
	};
};

&smartdma {
	status = "disabled";
};

&video_sdma {
	status = "disabled";
};

&sai0 {
	status = "disabled";
};

&sai1 {
	status = "disabled";
};