&gpio5 {
	status = "okay";
};

/ {
	aliases {

		hs-usb-sel = &hs_usb_sel;
		emmc-reset = &emmc_reset;
		power-ven-sys-base = &power_ven_sys_base;


	};

	leds {
		compatible = "gpio-leds";

		power_ven_sys_base: power_ven_sys_base {
			gpios = <&gpio5 8 GPIO_ACTIVE_HIGH>;
			label = "Power V_EN_SYS_BASE";
		};


		hs_usb_sel: hs_usb_sel {
			gpios = <&gpio1 16 GPIO_ACTIVE_LOW>;
			label = "HS USB Mux Select";
		};

		emmc_reset: emmc_reset {
			gpios = <&gpio1 17 GPIO_ACTIVE_LOW>;
			label = "eMMC Reset";
		};
	};
};

