menu "Zephyr"
source "Kconfig.zephyr"
endmenu

menu "Application Configuration"

config NASAL_TEMP_SAMPLE_PERIOD_MS
	int "Nasal temperature sample period in ms"
	default 10
	help
	  Configure the nasal temperature sample period in ms.
	  Default is 10ms.

config NASAL_TEMP_BLOCK_SIZE
	int "Number of temperature samples per block"
	default 100
	help
	  Configure the number of temperature samples collected per block
	  before sending to the message queue.

config NASAL_TEMP_QUEUE_LEN
	int "Length of the temperature message queue"
	default 4
	help
      Configure the length of the temperature message queue.

config STORAGE_Q_LEN
	int "Length of the storage message queue"
	default 100
	help
	  Configure the length of the storage message queue.

config PROCESSOR_Q_LEN
	int "Length of the processor input message queue"
	default 100
	help
	  Configure the length of the processor input message queue.

config LOG_ROTATE_INTERVAL
	int "Log rotation interval in seconds"
	default 300
	help
	  Configure the interval in seconds at which log files are rotated.
	  Default is 300 seconds (5 minutes).

endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config DISPLAY_LOGO
	bool "Enable display logo"
	default y
	depends on DISPLAY
	help
	  Enable inclusion of the logo in the display output.
	  When disabled, the logo source files will not be compiled
	  and the logo will not be displayed.

# TODO this should be removed and replaced with local, stowood specific config
source "samples/subsys/usb/common/Kconfig.sample_usbd"
