menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config DISPLAY_LOGO
	bool "Enable display logo"
	default y
	depends on DISPLAY
	help
	  Enable inclusion of the logo in the display output.
	  When disabled, the logo source files will not be compiled
	  and the logo will not be displayed.
